<?xml version="1.0" encoding="utf-8"?>
<!-- 
    참고: 이 파일을 직접 편집하는 대신 웹 관리 도구를 사용하면 
    사용 중인 응용 프로그램에 대한 설정을 구성할 수 있습니다.
    Visual Studio에서 [웹 사이트]의 [Asp.Net 구성] 옵션을 사용하십시오.
    설정 및 주석에 대한 전체 목록은 일반적으로 
    \Windows\Microsoft.Net\Framework\v2.x\Config의 
    machine.config.comments에 있습니다. 
-->
<configuration>
  <appSettings>
    <add key="DSN" value="server=192.168.0.198;uid=board;pwd=!Board123;database=BOARD_PROJECT"/>
  </appSettings>
    <connectionStrings>
    　 <add name="DBConnectionString" connectionString="Data Source=192.168.0.198;Initial Catalog=BOARD_PROJECT;User ID=board;Password=!Board123" providerName="System.Data.SqlClient" />
   </connectionStrings>

   <system.web>
      <compilation debug="true" />
     <customErrors mode="Off" />
      <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="ko-KR" uiCulture="ko-KR"/>
    </system.web>
    <system.webServer>
      <defaultDocument>
       <files>
         <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="board_list_view.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
